name: Type checking

on:
  push:
    branches: [main]
  pull_request:
    branches:
      - "*"
  schedule:
    - cron: "0 0 * * 1,4"
  workflow_dispatch:
    inputs:
      version:
        description: Manual test execution
        default: test
        required: false

jobs:
  mypy:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}

    steps:
      - uses: actions/checkout@v4

      - name: setup micromamba
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: ci/envs/312-latest.yaml
          create-args: >-
            mypy

      - name: Install momepy
        run: pip install .

      - name: Check momepy
        run: |
            mypy momepy/ --install-types --ignore-missing-imports --non-interactive

