name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: "0 0 * * 1,4"

jobs:
  Linting:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - uses: pre-commit/action@v2.0.0

  Test:
    needs: Linting
    name: ${{ matrix.os }}, ${{ matrix.env }}
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        env:
          - ci/envs/37-minimal.yaml
          - ci/envs/38-latest.yaml
          - ci/envs/39-latest.yaml
          - ci/envs/310-latest.yaml
          - ci/envs/310-dev.yaml
        include:
          - env: ci/envs/39-latest.yaml
            os: macos-latest
          - env: ci/envs/39-latest.yaml
            os: windows-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup Conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          environment-file: ${{ matrix.env }}
          miniforge-version: latest
          miniforge-variant: Mambaforge
          use-mamba: true

      - name: Install momepy
        run: pip install .

      - name: Check environment
        run: |
          conda info
          conda list

      - name: Test momepy
        run: |
          pytest -v -n auto --color yes --cov-config .coveragerc --cov momepy --cov-append --cov-report term-missing --cov-report xml tests

      - name: Test user guide
        if: contains(matrix.env, '39-latest.yaml') && contains(matrix.os, 'ubuntu')
        run: |
          ci/envs/test_user_guide.sh

      - uses: codecov/codecov-action@v2
