---
name: Tests

on:  # yamllint disable-line rule:truthy
  push:
    branches: [main]
  pull_request:
    branches:
      - "*"
  schedule:
    - cron: "0 0 * * 1,4"
  workflow_dispatch:
    inputs:
      version:
        description: Manual test execution
        default: test
        required: false

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  Test:
    name: ${{ matrix.os }}, ${{ matrix.environment-file }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        environment-file:
          - ci/envs/311-oldest.yaml
          - ci/envs/311-latest.yaml
          - ci/envs/312-latest.yaml
          - ci/envs/313-latest.yaml
          - ci/envs/313-dev.yaml
        include:
          - environment-file: ci/envs/313-latest.yaml
            os: macos-15-intel  # Intel
          - environment-file: ci/envs/313-latest.yaml
            os: macos-latest  # Apple Silicon
          - environment-file: ci/envs/313-latest.yaml
            os: windows-latest
          - environment-file: ci/envs/313-min.yaml
            os: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}

    steps:
      - uses: actions/checkout@v6

      - name: setup micromamba
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: ${{ matrix.environment-file }}

      - name: Install momepy
        run: pip install .

      - name: Test momepy
        run: |
          pytest \
            -v \
            --color yes \
            --cov momepy \
            --cov-append \
            --cov-report term-missing \
            --cov-report xml .

      - uses: codecov/codecov-action@v5
